

  .nahuel {
    flex-basis: 25%;
    padding: 10px;
    border: 1px solid black;
    width: 200px;
  }

 .flex-container {
    display: flex;
    justify-content: flex-start;
    
  }

  .flex-item {
    flex-basis: 25%;
    padding: 10px;
    border: 1px solid black;
  }
  
  #foto {
    width: 200px;
    margin: 10px
  }

#contenedor-flex {
  display: flex;
    }
    
    .contenedor-flex dl {
      margin: auto;
}

